<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/dashboard/add_proudct">Add product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/view_product">view product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/view_register">view register</a>
    </li>
    <li class="nav-item">
      <!-- <a class="nav-link disabled">Disabled</a> -->
    </li>
  </ul>