<footer id="footer"    data-aos="fade-up"
data-aos-duration="1500">
  <h1 class="text-center">Cake Bakery</h1>
  <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, accusantium.</p>
  <div class="icons text-center">
      <i class="bx bxl-twitter"></i>
      <i class="bx bxl-facebook"></i>
      <i class="bx bxl-google"></i>
      <i class="bx bxl-skype"></i>
      <i class="bx bxl-instagram"></i>
  </div>
  <div class="copyright text-center">
      &copy; Copyright <strong>Cake Bakery</strong> .All Rights Reserved
  </div>
  <div class="credite text-center">
      Designed By <a href="#"><span>Shivansh Yadav</span></a>
  </div>
</footer>
<!-- footer -->

<a href="#" class="arrow"><i><img src="./public/imageso/up-arrow.png" alt="" width="50px"></i></a>
